Alphacert.acc.ods.api/bin/Debug/netcoreapp2.0/Alphacert.Acc.Ods.Api.deps.json
Alphacert.acc.ods.api/bin/
Alphacert.acc.ods.api/obj/
Alphacert.Acc.Ods.Entities/bin/
Alphacert.Acc.Ods.Entities/obj/
Alphacert.Acc.Ods.Client/bin/
Alphacert.Acc.Ods.Client/obj/
